Redirect 301 /daisu-wakate/wakate16th.html http://siva.cc.hirosaki-u.ac.jp/usr/ueyama/wakate/2011/index.html
Redirect 301 /daisu-wakate/proceedings.zip http://siva.cc.hirosaki-u.ac.jp/usr/ueyama/wakate/2011/proceedings.zip
Redirect 301 /daisu-wakate/ozeki.pdf http://siva.cc.hirosaki-u.ac.jp/usr/ueyama/wakate/2011/proceedings/ozeki.pdf
Redirect 301 /daisu-wakate/horiuchi.pdf http://siva.cc.hirosaki-u.ac.jp/usr/ueyama/wakate/2011/proceedings/horiuchi.pdf
Redirect 301 /daisu-wakate/kamiyoshi_nagura_and_otani.pdf http://siva.cc.hirosaki-u.ac.jp/usr/ueyama/wakate/2011/proceedings/kamiyoshi_nagura_and_otani.pdf
Redirect 301 /daisu-wakate/mizuno.pdf http://siva.cc.hirosaki-u.ac.jp/usr/ueyama/wakate/2011/proceedings/mizuno.pdf
Redirect 301 /daisu-wakate/tomie.pdf http://siva.cc.hirosaki-u.ac.jp/usr/ueyama/wakate/2011/proceedings/tomie.pdf
Redirect 301 /daisu-wakate/morita.pdf http://siva.cc.hirosaki-u.ac.jp/usr/ueyama/wakate/2011/proceedings/morita.pdf
Redirect 301 /daisu-wakate/higashitani.pdf http://siva.cc.hirosaki-u.ac.jp/usr/ueyama/wakate/2011/proceedings/higashitani.pdf
Redirect 301 /daisu-wakate/kimura.pdf http://siva.cc.hirosaki-u.ac.jp/usr/ueyama/wakate/2011/proceedings/kimura.pdf
Redirect 301 /daisu-wakate/tanimoto.pdf http://siva.cc.hirosaki-u.ac.jp/usr/ueyama/wakate/2011/proceedings/tanimoto.pdf
Redirect 301 /daisu-wakate/ueyama.pdf http://siva.cc.hirosaki-u.ac.jp/usr/ueyama/wakate/2011/proceedings/ueyama.pdf
Redirect 301 /daisu-wakate/minamoto.pdf http://siva.cc.hirosaki-u.ac.jp/usr/ueyama/wakate/2011/proceedings/minamoto.pdf